@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 0, 128, 128;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Windows 95 style button */
.win95-btn {
  @apply px-4 py-2 border-[2px] bg-[#c0c0c0] active:bg-[#bdbdbd];
  box-shadow: inset -1px -1px #0a0a0a,
    inset 1px 1px #ffffff,
    inset -2px -2px grey,
    inset 2px 2px #dfdfdf;
}

.drag-handle {
  cursor: default;
  user-select: none;
}

.drag-handle:active {
  cursor: grabbing;
}

/* Prevent text selection while dragging */
.drag-handle span {
  pointer-events: none;
}

/* Ensure icons stay above windows when dragging */
.react-draggable-dragging {
  z-index: 9999;
}